.crosswordCell {
	position: relative;
	float: left;
	border: 1px solid black;
	cursor: default;
}

.crosswordCell .cellNumber {
	position: absolute;
	top: 1px;
	left: 2px;
	font: 8px Verdana;
}
	
.crosswordCell .blankCell {
	width: 100%;
	height: 100%;
	background-color: black;
}

.crosswordCell .fullCell {
	margin: 7px 12px;
	font: 16px Verdana;
}