.crosswordCell {
	float: left;
	width: 20px;
	height: 20px;
	border: 1px solid black;
}

.crosswordCell .blankCell {
	width: 100%;
	height: 100%;
	background-color: black;
}

.crosswordCell .fullCell {
	margin: 1px 5px;
	font: 14px Verdana;
	cursor: default;
}